@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css?family=Turret+Road&display=swap');
html {
  width: 100%;
  margin: auto;
  height: 100%;
  background: rgb(243, 240, 240);
  }
  .wrapper {
    min-height: 100%;
  }


body{
  height: 100%;
}

header{
  overflow: auto;
  width: 100%;
  height: 120px;
}


.myhead  {
  font-size: 30px;
  float: left;
  margin-left: 650px;
  margin-top: 40px;
  width: 480px;
}


#container{
  width: 800px;
  margin: 20px auto;
  padding: 25px;
}

#container img{
  width: 230px;
  margin: 10px;
  border: 2px solid rgb(187, 186, 186);
  padding: 5px;
  transition: transform .2s;
}
container img:hover{
  transform: scale(1.1);
}
#results h2 {
  margin: auto;
  width: 60%;
  background-color: rgb(228, 223, 253);
  padding: 10px;
}
#results h3 {
text-align: center;
line-height: 1.5;
text-transform: uppercase;
font-family: 'Mansalva', cursive;
font-size: 30px;
}
#results ul {
  line-height: 1.5;
  width: 310px;
  margin: auto;
  text-transform: uppercase;
  font-family: 'Turret Road', cursive;
  font-size: 18px;
}
footer{
  background: rgb(14, 173, 14);
  height: 50px;
  text-align: center;
}
footer p{
 line-height: 50px;
 color: rgb(243, 243, 243);
}